---
name: '${REPO_TITLE}'
author: ${REPO_OWNER_DISPLAY_NAME}
description: '${REPO_TITLE} GitHub Action'
branding:
  icon: terminal
  color: gray-dark
inputs:
  version:
    description: '${TOOL_NAME} version.'
    required: false
    default: ${LATEST_VERSION}
runs:
  using: 'node12'
  main: 'dist/index.js'
